<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>View Users</title>    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles.css" />

    
   

    <nav>
            <div class="nav-wrapper">
              <a href="/" class="brand-logo">  weatherd</a>
              <ul class="right hide-on-med-and-down">
                <li><a href="/addUser">Add User</a></li>
                <li><a href="/viewUsers">View Users</a></li>
                <li><a href="/updateUsers">update user</a></li>
                <li><a href="/weatherData">weather</a></li>
              </ul>
            </div>
          </nav> 
          <br>
         

</head>
<body>
        <div class="min">

    <div>
            <label for="objid">enter name</label>
            <input type="text" name="objid" id="objid">
            <input type="button" value="search" id="btn1">
    </div>

  <div id="divres"  >
  </div>


        </div>
</body>
 <script src="../view.js"></script>
</html>